*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html a{
    text-decoration: none;
    color: #ffffff;
}

.header_TopMenu{
    height: 40px;
    background-color: #191919;
}

.vessel{
    margin: auto;
    width: 1170px;
}

.header{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    display: flex;
    margin-top: 2px;
}

.icons a{
    margin-right:14px;
}

.vk{
    margin-left:2px;
}

.db{
    margin-left:2px;
}

.icons a{
    display: inline-block;
    text-decoration: none;
}

.icons a i{
    opacity: 0.380;
    color: #ffffff;
}

.icons a i::before{
    display: inline-block;
    font-size:15.7px;
}

.signIn{
    display: flex;
}

.signIn a{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #929292;
}

.signIn a p{
    margin-left: 6px;
}

.header_pipe{
    border-right: 1px solid #929292;
    margin-top: 2px;
    height: 20px;
    padding: 0px 7.5px;
}

.lang_i{
    margin-left:14px;
}

.mat-icons1{
    font-size: 18px;
}

.mat-icons1-ex{
    margin-right: -3px;
}

.navbar_container{
    color: #ffffff;
    background: url("../images/bg.png") no-repeat center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top:18px;
}

.logo a{
    text-decoration: none;
    color: #ffffff;
}

.logo span{
    text-transform: uppercase;
    margin: -2px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav{
    margin-left:73px;
    margin-top:6px;
}

.nav ul{
    height: 66px;
    display: flex;
    list-style-type: none;
}

.nav ul a{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13.1px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase
}

.home-w{
    margin-left: 15px;
}

li.nav-active:after{
    content:"";
    display: block;
    width: 80px;
    height: 4px;
    margin-top:21px;
    margin-left:1px;
    background: #ff4081;
}

.mat-icons2{
    font-size: 20px;
    padding-top: 1px;
}
.expand-home{
    margin-left: 5px;
    margin-right: 22px;
}
.expand-portfolio{
    margin-left: 5px;
    margin-right: 23px;
}
.expand-blog{
    margin-left: 3px;
    margin-right: 24px;
}
.expand-pages{
    margin-left: 5px;
    margin-right: 24px;
}
.expand-shop{
    margin-left: 5px;
    margin-right: 23px;
}
.expand-components{
    margin-left: 6px;
    margin-right: 23px;
}
.expand-features{
    margin-left: 6px;
}

.nav_icons{
    height: 40px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-size: 23px;
    padding-left:12px;

}

.nav_pipe{
    border-right: 1px solid #b4b4b4;
    height: 30px;
    margin-bottom: 7px;
}
.nav_pipe1{
    margin-left:12px;
    margin-right: 11px;
}
.nav_pipe2{
    margin-left:10px;
    margin-right: 13px;
}

.title_c{
    margin-top: 193px;
}

.title_c > p{
    opacity: 0.702;
    font-size: 19px;
    font-weight:400;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.title_c span{
    font-size:42px;
}

.title_c a{
    margin-top: -57px;
}

.quo > div{
    margin-top: 16px;
    font-size:40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.left_a{
    float: left;
    margin-left:28px;
    
}
.right_a{
    float: right;
    margin-right:28px;
}

.read_btn{
    width:169px;
    height: 45px;
    margin-top:32px;
    padding: 13px 26px;
    border-radius: 22px;
    background-color: #303f9f;
}

.read_btn p{
    letter-spacing: 1px;
    font-weight: 400;
    padding-left:1px;
    word-spacing: 3px;
}

.profile{
    margin-top:80px;
    text-align: center;
    letter-spacing: 1px;
}

.profile img{
    margin-right: 5px;
    border-radius: 50%;
}

.profile > p{
    font-size:14px;
    font-weight: 700;
    margin:12px 4px 5px 0px;
    letter-spacing: 0.5px;
}
.profile span{
    color:#d8d8d8;
}

.profile div > span{
    font-size:12px;
    
}
.p_time{
    margin-left:4px;
}

.stats{
    font-size:11.5px;
    padding:33px 20px 62px 0px;
}
.stats span{
    font-size:16px;
    margin-right:6px;

}
/* .stats span:nth-child(even){
    margin-left: 27px;
    margin-right:5px;
} */

.stats p{
    display: flex;
    justify-content: center;
}

.stats p a{
    display: flex;
    margin-right: 6px;
    margin-left: 22px;
    color:#d8d8d8;
}